  <body>
    <div class="container">
      <div class="header">
        <h1>Reset Your Password</h1>
      </div>
      <div class="content">
        <p>Hi <%= @user.name %>,</p>
        <p>We received a request to reset your password for your Botanical Buddies account. If this was you, use this code below to reset your password in app:</p>
        <p><%= @token %></p>
        <p>If you didn't request a password reset, you can ignore this email. Your account will remain secure.</p>
        <p>Best regards,</p>
        <p>The Botanical Buddies Team</p>
      </div>
      <div class="footer">
        <p>&copy; 2024 Botanical Buddies. All rights reserved.</p>
      </div>
    </div>
  </body>
