  <body>
    <div class="container">
      <div class="header">
        <h1>New journal shared with you!</h1>
      </div>
      <div class="content">
        <p>Hi <%= @other_user.name%>,</p>
        <p><%= @user.name %> Shared their 🌱 journal <%= @journal%> with you.</p>
        <p>Login to the app to see it now</p>
        <p>Best regards,</p>
        <p>The Botanical Buddies Team</p>
      </div>
      <div class="footer">
        <p>&copy; 2024 Botanical Buddies. All rights reserved.</p>
      </div>
    </div>
  </body>